.detail__container--main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vmax;
}

.detail__container--navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: auto;
    margin-bottom: 100px;
    margin-left: 100px;
}

.detail__h2--header {
    color: black;
    text-shadow: 2px 2px 4px white;
}

.detail__button--home {
    height: 41px;
    width: 120px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px black;
    background-color: rgb(212, 212, 157);
    color: white;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
    font-size: x-large;
    font-weight: 900;
    text-shadow: 1px 1px 2px black;
}

.detail__button--home:hover {
    background-color: rgb(230, 230, 38);
}

.detail__container--content {
    width: 60vmax;
    /* border: 1px solid black; */
}

.detail__container--name {
    transform: scale(2);
    width: 250px;
    /* height: 150px; */
    text-shadow: 2px 2px 4px black;
    margin-left: 175px;
    z-index: 100;
}

.detail__image {
    position:relative;
    top: -125px;
    left: 25px;
    opacity: 0.75;
    z-index: -10;
    border-radius: 50%;
}

.detail__container--description {
    position:relative;
    top: -335px;
    left: 25px;
    text-shadow: 0px 0px 10px black;
    transform: scale(1.25);
    width: 350px;
    font-size: small;
    font-weight: 900;
}

.detail__container--price {
    position:relative;
    top: -300px;
    left: -55px;
    color: black;
    font-size: x-large;
    font-weight: 900;
}

.detail__container--dress {
    position:relative;
    top: -295px;
    left: -55px;

}