.home__container--main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.home__container--OAuth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.home__container--profile {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color:rgba(170, 137, 97, 0.5);
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
}

.home__container--name {
    font-size: xx-large;
}

.home__container--email {
    font-size: small;
}

.home__image--profile {
    border-radius: 50%;
}

.home__container--map {
    position: absolute;
    top: 23vmax;
    height: 50vmax;
    width: 90vmax;
}

.home__infoWindow--name {
    color: black;
    height: 100px;
    width: 100px;
}
