.home__container--main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.home__container--name {
    font-size: xx-large;
}

.home__container--email {
    font-size: small;
}

.home__image--profile {
    border-radius: 50%;
}
